footer {
	background-color: #3e3e3e;
}

footer,
footer a {
	color: #FFFFFF;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer > section {
	background-color: #3e3e3e;
	padding: 40px 0;
}

footer > section > section {
/* 	padding: 50px; */
	display: inline-block;
	vertical-align: top;
	height: 200px;
}

footer > section > section > section {
	padding: 20px;
}

footer p {
	font-size: 13px;
	margin-bottom: 13px;
}

i.fa {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.left-footer {
	width: 300px;
}

.left-footer img {
	width: 280px;
	padding: 10px 0;
}

.left-footer > section {
	padding-top: 0;
	padding-left: 0;
}

.middle-footer {
	width: 257px;
	border-right: 1px #999999 solid;
	border-left: 1px #999999 solid;
	padding-top: 50px;
}

.middle-footer > section {
	padding-left: 50px;
}

.right-footer {
	width: 452px;
}

.right-footer > section {
	padding-top: 0;
	padding-right: 0;
}

.right-footer img {
	height: 47px;
}

