nav {
    position: relative;
    color: #FFFFFF;
    font-size: 0.9em
}

h1 {
    position: absolute;
    left: -10000px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    transition: all ease-in-out .5s
}

nav a:hover {
    /*text-shadow: 0 0 20px #feeeaa;*/
    text-decoration: none;
    color: #fcd946;
    /*    transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1,1.1);*/
}

nav > section {
    display: inline-block;
    vertical-align: top;
    /*border-right: 1px solid #500000;*/
    height: 50px;
}

nav > section.logo {
    padding-right: 10px;
}

nav > section.logo > a > img {
    width: 120px;
    margin-top: -4px;
    z-index: 20;
}

nav > section.search {
    position: relative;
}

nav > section.search > img {
    width: 20px;
    margin-top: 14px;
    z-index: 20;
    cursor: pointer;
    padding: 0 20px;
}

nav > section.search > section.search-field {
    display: none;
    position: absolute;
    z-index: 0;
    top: 50px;
    right: -35px;
    background-color: #C00;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 370px;
    /*box-shadow: 0 0 10px rgba(0,0,0,1);*/
}

nav > section.search > section.search-field > form > input {
    width: 300px;
    border: 1px solid #3e3e3e;
    padding: 5px;
}

nav > section.search > section.search-field > form > button {
    background-color: #3e3e3e;
    color: #FFF;
    padding: 6px;
    border: none;
}

nav a:hover.logo-image {
    text-shadow: 0 0 20px #000000;
    text-decoration: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}

nav > section.main {
    font-weight: bold;
    text-transform: uppercase;
}

nav > section.about {
    position: absolute;
    right: 0;
    /*border-left: 1px solid #500000;*/
}

nav > section > ul {
    list-style: none;
}

nav > section > ul > li {
    display: inline-block;
    /*padding: 16px 20px;*/
}

nav > section > ul > li > a {
    display: inline-block;
    padding: 16px 20px;
}
